<div class="container">
	<div class="content">
    <h1>Take a picture of your Insurance Card or Upload photo</h1>
		<div class="buttons">
			<button class="btn btn-primary" (click)="startCamera()">Start Camera</button>
      <input type="file" name="file" id="file" class="inputfile" (change)="onSelectFile($event)"/>
      <label for="file" class="file-upload right-btn">Upload File</label>
		</div>
		<div class="canvas-wrapper">
			<video #video class="vid" autoplay width="300px" height="300px"></video>
      <img [src]="url" *ngIf="url">
      <canvas #canvas class="vid"></canvas>
		</div>
		<button *ngIf="isVideo && isStartCamera" class="btn btn-primary" (click)="capture()">Capture Image</button>
	</div>

	<div class="form-container">
		<app-form *ngIf="!!extractedImageData" [extractedData]="extractedImageData"></app-form>
	</div>
</div>
